<div>
<table>
 <tr>
    <th style = "width: 140px">name</th>
    <th style = "width: 50px">type</th>
    <th>cost</th>
  </tr>
</table>
</div>
<div style = "width: 250px; height: 200px; overflow-y:auto">
<table>
<% @cards.each do |card| %>
  <tr>
    <th><%= link_to card.name, :controller => 'hearthstone', :action => 'show', :id => card, :remote => true, "data-type" => "script" %></th>
    <th><%= card.types %></th>
    <th><%= card.cost %></th>
  </tr>
<% end %>
</table>
</div>
