<h1>新建卡组</h1>
<div>
  <li style="position: absolute; top:70px; left:5px">
    <p><%= link_to 'Hunter', :controller => 'hearthstone', :action => 'select', :belong => 'Hunter', :remote => true, "data-type" => "script "%></p>
    <p><%= link_to 'Mage', :controller => 'hearthstone', :action => 'select', :belong => 'Mage', :remote => true, "data-type" => "script "%></p>  
</li>
  <table id="belonglist" style="position: absolute; top:70px; left:100px">
  </table>
  <div id="content" style="margin-left: 400px; margin-top:20px">
  </div>
</div>
